.big_img{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background: url('../../../public/labg.png') center/cover no-repeat;
    margin-bottom: 56px;
}

.big_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#000000 0%,#0000002d 20%,#00000000 21%);
}

.big_img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.container{
    position: relative;
    left: 0;
    top: calc(50% - 80px);
    z-index: 2;
    overflow: hidden;
}
.la_h2{
    color: #F5F5F5;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 100;
    font-size: 4.875rem;
    letter-spacing: 0.8rem;
    transition: all 0.3s ease;
}
.la_p{
    color: #F5F5F5;
    font-size: 1.25rem;
    font-weight:300;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
}



@media (max-width: 992px) {
    .big_img{
        aspect-ratio: 5/ 4;
    }
    .la_h2{
        font-size: 4rem;
    }
    .la_p{
        font-size: 1rem;
    }

}
  /* 手機 */
@media (max-width: 576px) {
    .big_img{
        aspect-ratio: 1/ 1;
    }
    .container{
        top: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transform:translateY(-50%);
    }
    .la_h2{
        display: flex;
        justify-content: center;
        font-size: 3rem;
        letter-spacing: 0rem;
    }
    .la_p{
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        letter-spacing: 0rem;
    }

}