.bg{
    background-color: rgba(245, 245, 245,0.9);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgb(71, 83, 73,0.2);
    position: fixed;
    z-index: 10;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 80px;
    cursor: pointer;
}

.nav{
    display: flex;
    align-items: center;
}
.nav_li{
    position: relative;
    list-style: none;
    margin:0px  25px;
    color: #545858;
    font-size: 1.125rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
.nav_li::after{
    content: "";
    position:absolute;
    bottom: -5px;
    left: 0;
    background-color: #343838;
    width: 0%;
    height: 1.5px;
    transition: all 0.3s ease;
}
.nav_li:hover{
    color: #343838;
}
.nav_li:hover::after{
    width: 100%;
}

.nav_QandA{
    all: unset;
    cursor: pointer; /* 讓它還是有點擊效果 */
    margin:0px  0px 0px 25px;
    font-size: 1.125rem;
    background-color: #606861;
    padding: 10px 25px;
    border-radius: 23.5px;
    transition: all 0.3s ease;
    color: #F5F5F5;
}

.nav_QandA:hover{
    background-color: #475349;
    padding: 10px 25px;
    border-radius: 23.5px;
}
.menu{
    display: none;
}


@media (max-width: 992px) {
    .bg{
        height: 100px;
    }
    .logo{
        height: 60px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content:center;
        height: 100px;
    }
    .nav_QandA{
        display: none;
    }

  }
  /* 手機 */
@media (max-width: 576px) {
  .bg{
      height: 60px;
  }
  .container{
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      height: 60px;
  }
  .logo{
      height: 60px;
  }
  .nav{
      display: none;
      
  
  }
  .menu{
      display:block;
      cursor: pointer;
  }
}