/* 電腦 */
html {
  font-size: 16px; 
}

.container {
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}

/* 平板 */
@media (max-width: 992px) {
  html {
    font-size: 15px; 
  }
}
/* 手機 */
@media (max-width: 576px) {
  html {
    font-size: 14px; 
  }
  .container {
    width: 95%;
  }
}